

@font-face {
    font-family: satoshi;
    src: url('./Assets/Satoshi-Bold.otf');
}

body{
    font-family: satoshi;
}



.hero{
    clip-path: polygon(0% 45%, 0% 45%, 0% 55%, 0% 55%);
    will-change: clip-path;
}

.wrapper{
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
}



